@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#loading{
    display: flex;
    align-items: center;
    justify-content: center;
  
  height: 500px;

  font-size: 50px;
}
#categoriTitle{
  display: flex;
  justify-content: center;
}
#LikeButtonn{
  margin-right: 30px;
  border: none;
  font-size: 20px;
  background-color: rgb(180, 217, 132);;
  transition: 0.3s;
  cursor: pointer;
}
#LikeButtonn:hover{
color: red;
}
#Cartbutton{
 border: none;
 background-color: rgb(180, 217, 132);;
 font-size: 20px;
 margin-top: 3px;
 transition: 0.4s;
}

#Cartbutton:hover{
  color: aqua;
  margin-left: 10px;
}

#serchcase{
  display: grid;
  grid-template-columns: auto auto auto auto auto;

width: 500px;
height: auto;

}
#serchcase img{

  width: 80px;
  height: 80px;
  cursor: pointer;
}

#carusel{
  width: 1300px;
  margin: auto;
  padding: 0px 0;
  border-radius: 20px;

}
#carusel h4{
  display: flex;
  justify-content: center;

  font-size: 20px;
}

 